@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Raleway');

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: Raleway;
  font-weight: bolder;
}

p {
  font-family: Open Sans;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
  font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 170px;
    padding: 0px;
}

body {
  display: flex;
  margin: 0px;
  height: 100vh;
}

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

nav {
  display: flex;
  justify-content: space-between;
}

#section1 {
  background-color: #1f25e8;
}

#section2 {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

button {
  background-color: hsl(163, 95%, 43%);
  color: white;
}

footer {
  display: flex;
  justify-content: flex-end;
}
}
