@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Raleway');

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: Raleway;
  font-weight: bolder;
  font-weight: bold;
  display: flex;
  margin: 4em;
}

p {
  font-family: Open Sans;
  display: flex;
  margin: 1em;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
  font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 170px;
    padding: 0px;
}

body {
  display: flex;
  margin: 0px;
  height: 100vh;
}

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-image: linear-gradient(45deg, hsl(243, 86%, 85%), hsl(243, 87%, 12%));
}

nav {
  display: flex;

}

#section2 {
  margin: 40px;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}

button {
  background-color: hsl(163, 95%, 43%);
  color: white;
  width: 12em;
  height: 4.5em;
  border-radius: 7px;
  font-family: Open Sans;
}

fieldset {
  border-style: none;
  padding: 0em;
  margin: 0em;
}

legend {
  font-family: Open Sans;
}

input {
  width: 25em;
  height: 4.5em;
  box-shadow: 5px 5px 5px #80808024;
  margin-right: 1.5em;
  border-radius: 7px;
}
footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40%;
}
