header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 0px;
}

body {
  display: flex;
  justify-content:
}

#section1 {
  display: flex;
  justify-content:
  background-color: purple;
}
